body {
background:#0f2027;
color:white;
font-family:Arial;
text-align:center;
}

.periodic-table {
display:grid;
grid-template-columns: repeat(18, 70px);
gap:6px;
justify-content:center;
}

.element {
border-radius:8px;
padding:5px;
cursor:pointer;
font-size:14px;
}

.element span {
font-size:18px;
font-weight:bold;
}

.metal { background:#64b5f6; }
.ametal { background:#81c784; }
.soygaz { background:#ffd54f; color:black; }

#search {
padding:8px;
margin:10px;
width:220px;
}
