body {
    background: radial-gradient(circle, #0f2027, #203a43, #2c5364);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin: 20px 0;
}

.butonlar {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px white;
}

.tablo {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.element {
    border-radius: 15px;
    padding: 10px;
    height: 140px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
    transition: 0.4s;
}

.element:hover {
    transform: translateY(-10px) scale(1.05);
}

/* RENKLER */
.metal {
    background: linear-gradient(135deg, #b79891, #94716b);
}

.ametal {
    background: linear-gradient(135deg, #56ab2f, #a8e063);
}

.yari {
    background: linear-gradient(135deg, #614385, #516395);
}

.soygaz {
    background: linear-gradient(135deg, #2193b0, #6dd5ed);
}

/* ELEMENT ICERIK */
.ikon {
    font-size: 28px;
}

.numara {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 12px;
}

.sembol {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
}

.isim {
    font-size: 14px;
}

  
