body {
font-family: Arial;
text-align: center;
}

.table {
display: grid;
grid-template-columns: repeat(10, 60px);
gap: 5px;
justify-content: center;
}

.element {
border: 1px solid black;
padding: 10px;
cursor: pointer;
background: #e3f2fd;
}

.element:hover {
background: #90caf9;
}

#info {
margin: 20px auto;
width: 300px;
border: 2px solid black;
padding: 10px;
}
.metal { background: #bbdefb; }
.ametal { background: #c8e6c9; }
.soygaz { background: #fff9c4; }
